.tex {
  border: 100px;
  background-color: hsl(143, 83%, 45%);
  width: 360px;
  height: 300px;
  align-content: center;
  margin: 300x;
  padding: 120px, 50px;
  border-radius: 10px;
  justify-content: center;
}
.btn {
  background-color: black;
  color: white;
  border: none;
  padding: 14px, 50px;
  border-radius: 10px;
  justify-content: center;
}
.te {
  border: 1px, solid, black;
}
